@import '@mixin';

.content-wrap {
  @include flex;
  > div {
    position: relative;
    z-index: 66;
  }
  > img {
    margin-right: 150px;
    @include phone {
      margin-right: 0;
      position: absolute;
      z-index: 0;
      &:first-child {
        top: 30px;
        right: 30px;
      }
      &:nth-child(2) {
        bottom: 20px;
        right: 50%;
      }
      &:nth-child(3) {
        bottom: 50px;
        right: 30%;
      }
      &:nth-child(4) {
        bottom: 10px;
        right: 10px;
      }
      &:nth-child(5) {
        width: 200px;
        left: -50px;
        bottom: 0;
      }
    }
  }
}
